/* 
Folha de estilo criado  - Template para Instituições Educacionais 
By Caio Dellano 15/12/2019
Desenvolvimento FireFly
*/
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* Definindo cores */
:root{
  /* Paideia Educacional */
  /* #7F9C97 */
  /* #273A40 */
  --cor-color-principal : #D4511D;
  --cor-color-secundaria: #FBC531; 
  --cor-bg-principal    : #FFFFFF;
}

/* Customizando o dropdown das unidades */
.nav-links.customize-address{
    list-style: none;
}
.nav-links.customize-address li .sub-menu ul li a,
.nav-links.customize-address li .sub-menu ul li i
{
    color:#FFF;
}
.nav-links.customize-address li .sub-menu ul li a i{
    font-size: 12px;
    margin-top: 4px;

}
.nav-links.customize-address li .sub-menu ul li a hr{
    border-color:#FFF;
}
.nav-links.customize-address li .sub-menu{
    z-index: 2;
    background-color: var(--cor-color-principal)!important;
    width: 400px;
}
.nav-links.customize-address li{
    padding-bottom: 10px;
    margin-top: -2px;
}
.nav-links.customize-address li a{
    color:#777;
}
/* Fim */
#owl-demo .item img{
    display: block;
    width  : 100%;
    height : auto;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.my-3.p-3.bg-white.rounded.shadow-sm p{
    text-align: justify;
    color:#606060;
    font-size: 16px;
    margin-bottom: 10px;     
}
.my-3.p-3.bg-white.rounded.shadow-sm h3{
    margin: 20px 0px 20px 0px;
    background-color: #EDF0F4;
    font-size: 26px;
    height: 80px;
    line-height: 80px;
    padding-left: 4px;

}
/* Personalizando arrows do slick */

.slick-prev:before, .slick-next:before { 
    font-family: "slick"; 
    font-size: 40px; 
    line-height: 1; 
    color: #FFF; 
    opacity: 0.75; 

}   

.slick-prev:before { content: "‹"; }
[dir="rtl"] .slick-prev:before { 
    content: "›"; 
}

[dir="rtl"] .slick-next { 
    left: -10px; 
    top: 70px;
    right: auto;
}
.slick-next:before {
 content: "›"; 
}
[dir="rtl"] .slick-next:before { content: "‹"; }

/* Fim */

.pg-default{
    margin-top: 10px;
}

body {
    background: var(--cor-bg-principal);
}
/* Personalizando botão subir topo. */
.topo {
    background-color: var(--cor-color-principal);
    width: 30px;
    height: 30px;
    color: #FFF;
    text-align: center; 
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding-top: 2px;
    cursor: pointer;
    z-index: 4;
    border-radius: 4px;
}
/* Personalizando botão bootstrap */
.nav-links li a.btn.btn-success{
    color: #FFF ;
}
.nav-links .btn.btn-success:hover{
    color:#FFF;
}
.btn.btn-outline-success,.btn.btn-outline-primary{
    border: solid 1px var(--cor-color-principal);
    color: var(--cor-color-principal);
    text-transform: uppercase;
}
.btn.btn-outline-success:hover,.btn.btn-outline-primary:hover  {
    border: solid 1px var(--cor-color-principal);
    background-color: var(--cor-color-principal);
    color: #FFF;
}

/*----------------------*/
#information{
  background-color: var(--cor-bg-principal);
  width: 100%;
  height: 100%;  
  text-align: center;
}
#information p {
    color:#333;
    text-transform: uppercase;
    font-size: 64px;
    margin-top: 36px;
}
#information p small{
    color:#666;
    font-size: 24px;
    display: block;
    font-weight: 300;
}
/*----------------------*/
#sobre-nos img{
    max-width: 98%;
    padding-bottom: 20px;
}
#sobre-nos p{
    text-align: right;
    line-height   : 35px;
    /* padding-bottom: 20px; */
}
#sobre-nos .row .col-md-6{
    /* text-align: right; */
}
#sobre-nos h3{
    text-align: right;    
}
#sobre-nos h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;    
}
#sobre-nos hr{
  border: 2px solid var(--cor-color-principal);
  width : 200px;
  margin: 0 auto;
}

/*----------------------*/
#eventos .slick-eventos{
    padding-top: 20px;
}
#eventos {
    background-color: var(--cor-color-principal);
    width: 100%;
    padding-top: 25px;
    padding-bottom: 20px;
}

#eventos h2{
    color: #FFF;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
}  
#eventos hr{
    border:var(--cor-color-secundaria) solid 2px;
    width : 200px;
    margin: 0 auto;
} 
/*----------------------*/
#services .container .row:only-child{
    text-align: right;
}
#services{
  background-color: var(--cor-bg-principal);
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 20px;
}
#services p{
    color: #333;
    font-size: 1.3em;
    text-align: right;
}
/*----------------------*/
#links-services h2{
    color: var(--cor-color-principal);
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
}
#links-services{
  /* background-color: var(--cor-bg-principal); */
  background-color: var(--cor-bg-principal);
  width: 100%;
  text-align: center;
  padding-bottom: 60px;
  /* background-color: var(--cor-color-secundaria); */
  background-color: #EEE;
}
#links-services p{
    color    : #333;
    font-size: 1.3em;
}
#links-services hr{
    border: var(--cor-color-principal) solid 2px;
    width : 200px;
    margin: 0 auto;
}
/* #links-services .container .row .col-lg-2:nth-child(1) a{background-color: #F58634;}
#links-services .container .row .col-lg-2:nth-child(2) a{background-color: #3D619E;}
#links-services .container .row .col-lg-2:nth-child(3) a{background-color: #44C1C4;}
#links-services .container .row .col-lg-2:nth-child(4) a{background-color: #00A859;}
#links-services .container .row .col-lg-2:nth-child(5) a{background-color: #A53692;}
#links-services .container .row .col-lg-2:nth-child(6) a{background-color: #D63135;} */

#links-services .container .row:only-child a{
    width: 170px;
    height: 180px; 
    display: block;
    background-color: #FFF;
    border-radius: 6px;
    text-decoration: none;
    margin-top: 12px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1); 
    padding: 6px;
}
#links-services .container .row:only-child a:hover{
    /*opacity: 1*/
} 
#links-services .container .row:only-child a .fas, 
#links-services .container .row:only-child a .fab{
    font-size: 55px;
    margin   : 22px 0px 12px 0px;
    /* color    :var(--cor-color-principal); */
    color: #333;
}

#links-services .container .row:only-child a p{
    font-size: 0.8em;    
    /* color    : var(--cor-color-principal); */
    color: #333;
}

/*----------------------*/
#footer{
    background-color: #212121;
    width: 100%;
    height: 100%;
    color: #FFF;
    padding-top: 40px;
    padding-bottom: 20px;
}
#footer .container-fluid .row .col-md-3{
 padding-left :4% ;
 padding-right:4% ;
 border-left  :1px dotted #666;
}
#footer .container-fluid .row:only-child h3{
    margin-bottom: 35px;
    font-size: 1.3em;
}
#footer .container-fluid .row:only-child ul{
    list-style: none;
    line-height: 1.8em;
}
#footer .container-fluid .row:only-child ul li a{
  color: #999;
  text-decoration: none;
  border-left: 4px solid rgba(0,0,0,0);
  padding-left: 8px;
  transition: .3s;
}  
#footer .container-fluid .row:only-child ul li a:hover{
    color: #FFF;
    border-left: 4px solid var(--cor-color-principal);
}
#footer .container-fluid .row:only-child ul li{
    border-bottom: 1px dotted #666;
    margin-bottom: 12px;
    font-size: .8em;
} 
#footer .container-fluid .row:only-child p{
    color: #666;
    font-size: .8em;
    line-height: 26px;
}

/*----------------------*/
#assign {
   background: linear-gradient(45deg, #222, #333); 
}
#assign .container{
   text-align: center; 
   color: #FFF;
   padding-top: 8px;
   padding-bottom: 8px;
   font-size: 12px;
   color: #777;
}
#assign .container img{
    max-height: 33px;
}
/*----------------------*/
.form-control{
    margin-bottom:24px ;
}

/*----------------------*/
#depoimentos{
  background-color: var(--cor-color-principal);
  width: 100%;
  height: 100%;
  color: #FFF;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 35px;

}
#depoimentos .slick-depoimentos img{
    width: 100px;
    margin: 0 auto;
    border-radius:50%;
    margin-bottom: 10px;
    border: 1px solid var(--cor-color-secundaria);
}
#depoimentos .slick-depoimentos{
    /* background-color: #000; */
    text-align: center;
    font-size:20px;
    font-style: italic;
    padding: 10px;
    line-height: 28px;
}
#depoimentos h2{
    /* color         : var(--cor-color-principal); */
    color         : #FFF;
    font-size     : 26px;
    text-transform: uppercase;
    text-align    : center;
    font-weight   : 300;
}
#depoimentos hr{
    border: var(--cor-color-secundaria) solid 2px;
    width : 200px;
    margin: 0 auto;
}
#depoimentos p{
    padding-top   : 20px;
    padding-bottom: 20px;
    text-align    : center;
    margin-bottom : 0px;
}
/*----------------------*/
#paralax hr{
    border: var(--cor-color-secundaria) solid 2px;
    width : 200px;
    margin: 0 auto;
    margin-bottom: 20px;
}
#paralax{
    background-image: url(../../assets/img/plateia-front.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #FFF;
    padding-top: 20px;
    padding-bottom: 20px;
}
.form-contato input{
    width: 100%;
    display: block;
    margin-bottom: 4px;
    height: 40px;
    border:1px solid var(--cor-color-principal);
    padding: 10px;
}
.form-contato textarea{
    border:1px solid var(--cor-color-principal);
    padding: 10px;
    width: 100%;
}
.wrap-form{
    max-width: 580px;
    margin:0 auto;
}
/*----------------------*/
.bg-paralax-pg-default{
   /* background-image: url(../../assets/img/bg-paralax-instituicao.jpg); */
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   color: #FFF;
   padding-top: 190px;
   padding-bottom: 90px;
   position: relative;
}
.bg-paralax-pg-default h6{
    /* background-color: #000; */
    position: absolute;
    bottom: 0px;
}
.bg-paralax-pg-default .container h6 a{
    color:#FFF;
}
.bg-paralax-pg-default .container h6 a:hover{
    color:var(--cor-color-principal);
}

/*----------------------*/
.custom {
    margin-top: 28px;

}
.custom .fas{
    float: left;
    margin-right: 10px;
    font-size: 21px;
    color: var(--cor-color-principal);
}
.custom h3, .custom h4{
    font-size: .8em;
}
.custom h4 i.fas{
    font-size: .8em;
    color:#777;
    margin-left: 4px;
}
.custom h4{
    color:#777;
}
/*----------------------*/
.icon-socials{
    color           : #FFF;
    background-color: var(--cor-color-principal);
    width           : 25px;
    height          : 25px;
    display         : inline-block;
    text-align      : center;
    border-radius   : 50%;
}
.icon-socials:hover{
    color:#FFF;
}
/*----------------------*/

.head {
    width: 100%;
}

.head h1 {
    padding    : 2px 8px;
    line-height: 100px;
    font-size  : 50px;
    color      : var(--cor-color-principal);
    background : #FFF;    
}

.head .nav-menu {
    z-index        : 1;
    /* background     : var(--cor-color-principal); */
    background: #FFF;
    padding: 0px 0px;
    text-align: center;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-around;
    box-shadow: 1px 1px 3px #eee;

}
.nav-menu li {
    list-style-type: none;
    display        : inline-block;
    padding        : 10px 40px;
    text-align     : center;
    color          : #333;
    font-size      : 18px;
}

/*----------------------*/
.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width           : 25px;
    height          : 3px;
    background-color: #FFF;
    margin          : 5px;
    transition      : all 0.3s ease;
}
/*----------------------*/
.nav-links {
    transition    : .3s;
    text-transform: /* uppercase */;
    margin-bottom : 0;
}

.nav-links a {
    color: var(--cor-color-principal); 
    text-decoration: none;
    transition: .2s;
    font-size:13px;
}

.nav-links a:hover {
    color: var(--cor-color-secundaria);
}
.active-menu, .nav-links li:hover {
    /* background: rgba(0,0,0,0.1); */
    border-radius: 3px;
}
.sub-menu {
    display: none;
    border-radius: 3px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .1);     
}
.sub-menu ul li a hr{
    border: 1px solid var(--cor-color-principal);
    width: 0;
    transition: ease .2s;
    margin-bottom: -2px;
    margin-top: 0px;
    opacity: 0;
}
.sub-menu ul li:hover hr{
    width : 100%;
    opacity: 1;
}

.nav-links li:hover .sub-menu{
    display: block;
    position: absolute;
    /* background : var(--cor-color-principal); */
    background : #FFF;
    margin-top : 10px;
    margin-left: -15px;
}
.nav-links li:hover .sub-menu ul li{
    display: block;
    /* margin       : 10px; */
    width: 100%;
    padding: 10px;
    /* border-bottom: 1px dotted rgba(0,0,0,0.2); */
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.nav-links li:hover .sub-menu ul li:last-child{
    border-bottom: none;
}
/*----------------------*/
.fa.fa-chevron-down,.fa.fa-chevron-left{
    color: var(--cor-color-principal);
    position: relative;
    left: 22px;
}
.fa.fa-chevron-left{
    display: none;
    left   : -30px;
}

.logo-mobile {
    display: none;
    color:#FFF;
} 
.title{
    padding: 10px 12px;
    background-color: #FFF;
    border-bottom: 1px dotted var(--cor-color-principal);
    border-top: 6px solid var(--cor-color-principal);
}
.row.title .col-md-3.text-left a img{
    width: 90px;
}

/*----------------------*/
.wrap-logo{
  width:88%;
}
.wrap-logo .logo img{
  width: 88px;
  float: left;
}

.wrap-logo .texto{
  float: right;
  font-style: italic;
  color:var(--cor-color-principal);
  font-size: 26px;
  line-height: 30px;
  margin-top: 12px;
}


@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    #links-services .container .row:only-child a{
        width : 198px;
        height: 178px;
    }
    #services{
        text-align: center;  
    }
    #footer .container-fluid .row .col-md-3{
        text-align: center;
        border    : 0px ;
    }
    .nav-links li a{
        color    :#FFF;
        font-size: .7em;
    }
    .nav-links li:hover .sub-menu{
        background-color: var(--cor-color-principal);
        box-shadow      :  -2px 2px 20px rgba(0, 0, 0, .1);                 
    }
    .nav-links li:hover .sub-menu ul li{
        text-align: center;
    }
    .active-menu, .nav-links li:hover {
        background   : rgba(0,0,0,0.08);
        border-radius: 3px;
    }
    .nav-links li:hover .sub-menu{
        display    : inline-block;
        margin-left: -270px;
    }
    .fa.fa-chevron-left{
        display:inline-block;
        color  :#FFF;
        font-size: .7em;
    }
    .fa.fa-chevron-down{
        display: none;
    }
    .title {
        display: none;
    }
    .logo-mobile {
        display: block;
    }
    .logo-mobile img{
        max-height:44px;
        /* padding:20px ; */
    }
    .head .nav-menu {
        justify-content: space-between;
        padding: 10px 20px;
    }
    .head .nav-menu{
        background-color: var(--cor-color-principal);
    }
    .nav-menu li {
        border-left  : 0px;
        /*border-bottom: 1px solid rgba(0,0,0,0.2);*/
        color        : #666
    }
    .nav-links {
        box-shadow: -2px 2px 20px  rgba(0, 0, 0, .1);
        position: absolute;
        right: 0px;
        height: 88vh;
        top: 100%;
        background-color: var(--cor-color-principal);
        display: flex;
        flex-direction :column;
        align-items: center;
        width: 50%;
        line-height: 300%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}